





* {
	box-sizing: border-box;
}

html{
	margin: 0;
	padding: 0;
	font-family: serif;
	font-size: 10px;
}

body{
	background-color: white;
}

h1, h2, p, li {
	font-family: Arial, Helvetica, sans-serif;
	color: #454545;
}

a {
	color: #336;
	text-decoration: none;
}

#primeiro-link > a {
	color: #933;
}

ul {
	background-color: yellowgreen;
	font-size: 20px;
}

ul li {
	font-size: 0.8em;
	width: 80%;
	height: 3rem;
}

p {
	font-size: 1.6rem;
}

h2 {
	font-size: 2rem;
	font-size: 20px;
}
.navegacao {
	background-color: #ffffff;
}

.navegacao a {
	color: #393;
}

form div {
	background: #fff;
	border: 0;
	border-bottom: 1px solid #33f;
	
	margin: 1rem 2rem;
	padding: 2rem;
}

label {
	margin-bottom: 1rem;
	font-size: 1.4rem;
	font-family: sans-serif;
	font-weight: bold;
	color: #66f;
}

input {
	padding: 1rem;
}

[type="text"], [type="email"], textarea, label {
	display: block;
	width: 100%;
}

header {
	background-color: #DDDDDD;
	padding: 30px;
	text-align: center;
	font-size: 35px;
	color: white;
}
nav {
	float: left;
	width: 30%;

	background: #ccc;
	padding: 20px;
}

nav ul {
	list-style-type: none;
	padding: 0;
}

article {
	float: left;
	padding: 20px;
	width: 70%;
	background-color: #f1f1f1;
}

section::after {
	background: #ccc;
	content: "";
	display: table;
	clear: both;
}

footer {		
	background-color: #777;
	padding: 10px;
	text-align: center;
	color: white;
}

@media (max-width: 600px) {
	nav, article {
		width: 100%;
		height: auto;
  }
}

form div {
	position: static;
	position: relative;
	margin-top: -10px;
}

label {
	position: absolute;
}