

table {
	border: 1px solid #757575;
	background: #ffffff;
	width: 100%;
	border-collapse: collapse;
}

table tr {
	border: 1px solid #757575;
}

table tbody tr:hover {
	background-color: rgba(0, 0, 255, .2);
}	

table tbody tr:nth-child(odd) {
	background-color: #00AAFF;
}

table th,
table td {
	padding: 1rem;
	font-size: 1.6rem;
	text-align: right;
	border: 1px solid #757575;
}

table tr td:first-child {
	text-align: left;
	font-weight: bold;
}

table th {
	background-color: #237589;
	color: white;	
	font-weight: bold;
	text-align: left;
}

.table-container {
	padding: 2rem 1rem;
}

.table-container h3 {
	font-size: 1.8rem;
	font-style: normal;
	margin-bottom: 0rem;
}

.table-container tfoot {
	background: #cccccc;
}

.table-container tfoot td {
	font-weight: bold;
}